<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>


  <script>
    $.ajax({
      url : "http://localhost:8080/api/health",
      type : "GET",
        beforeSend: function (xhr) {
          xhr.setRequestHeader("custom-header","custom value");
        },
        success : function(result){
        console.log(result);
      }
    });
  </script>
</body>
</html>